<!DOCTYPE html>
<html lang="en">

<body>
    <div class="headline">
        <h2 style="color:orange">Pokemon New Page</h2>
    </div>
    <form action="/pokemon" method="POST">
        <div class="row">
            <div class="six columns">
                <label for="name">Name</label>
                <input class="u-full-width" type="text" name="name" placeholder="enter pokemon name">
            </div>
        
        </div>
        <div class="row">
            <div class="six columns">
                <label for="type">Type</label>
                <input class="u-full-width" type="text" name="type" placeholder="enter type">
            </div>
        </div>
        
        <table>
            <thead>
                <tr>
                    <th> Stats</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        <input type="text" placeholder="enter hp" name="hp">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" placeholder="enter attack" name="attack">
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="text" placeholder="enter defense" name="defense">
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="text" placeholder="enter spattack" name="spattack">
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="text" placeholder="enter spdefense" name="spdefense">
                    </td>
                </tr>

                <tr>
                    <td>
                        <input type="text" placeholder="enter speed" name="speed">
                    </td>
                </tr>

            </tbody>
        </table>
        <input style="background-color: orange" type="submit" value="Add">
    </form>
</body>

</html>